.h2 {
  color: #7f59a5;
  font: {
    family: Arial, sans-serif;
    size: 20px;
    weight: normal;
  }
  letter-spacing: 0.05em;
  text-transform: capitalize;

  margin-block-start: 4rem;
  margin-block-end: 1rem;
}
