.card__actions {
  list-style-type: none;

  // Override ul default settings.
  padding-inline-start: 0;
  margin-block: {
    start: 0;
    end: 0;
  }
  // TODO: Migrate all margin/padding rules to logical CSS.

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  //align-items: baseline;
  //margin: {
  //  top: 16px;
  //  bottom: 16px;
  //}

  float: right;

  height: calc(100%/* + 8px*/);
  //transform: translateY(-4px);
}
