.card__inner {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  // TODO: Migrate this to not use flexbox.
  //  Maybe this wrapper is also not needed as well.
}
