.ul__li {
  // Default appearance (font-family)
  font-family: sans-serif;

  &::marker {
    color: #7f4ce5;
  }

  + .ul__li {
    margin-block-start: 1.5rem;
  }

  .ul {
    margin-block-start: 0.75rem;
  }
}
