@use '__action';
@use '__action-icon';
@use '__actions';
@use '__background';
@use '__background-bottom';
@use '__background-item';
@use '__background-left';
@use '__content';
@use '__icon';
@use '__title';

.card {
  width: 100%;
  height: 96px;
  background-color: #fdfaff;
  background-position-x: 2px;

  // Left decoration line.
  &::before {
    /* Make the pseudo element valid. */
    content: '';
    /* Set the size of the pseudo element. */
    display: inline-block; /* Default is inline. */
    width: 2px;
    height: 100%;
    /* Make it a parallelogram. */
    transform: skewY(-45deg);
    /* Color of the parallelogram */
    background-color: #f1c8ff;
  }

  // Bottom decoration line.
  &::after {
    /* Make the pseudo element valid. */
    content: '';
    /* Set the size of the pseudo element. */
    display: inline-block; /* Default is inline. */
    width: 100%;
    height: 2px;
    /* Make it a parallelogram. */
    transform: skewX(-45deg);
    /* Color of the parallelogram */
    background-color: #c475f5;
  }
}
