@use '__action';
@use '__action-icon';
@use '__action-text';
@use '__actions';
@use '__content';
@use '__description';
@use '__icon';
@use '__inner';
@use '__inner-test';
@use '__text-content';
@use '__title';

.card {
  // Set the size of the element
  display: block; // Default is inline due to "a" tag.
  width: 100%;
  height: 96px;

  // Decoration background
  background-color: #fdfaff;
  background-position-x: 2px; // Prevent the decoration background from overlapping left decoration line.

  // Make position: absolute; to let pseudo elements work in a way that
  //  they have the correct height or width when using value of 100%.
  position: relative;

  // Left decoration line.
  &::before {
    // Remove the pseudo element from the flow.
    position: absolute;

    // Make the pseudo element valid.
    content: '';

    // Set the size of the pseudo element.
    display: block; // Default is inline.
    width: 2px;
    height: 100%;

    // Make it a parallelogram.
    transform: skewY(-45deg);

    // Color of the parallelogram
    background-color: #f1c8ff;
  }

  // Bottom decoration line.
  &::after {
    // Remove the pseudo element from the flow.
    position: absolute;

    // Set the position of the pseudo element.
    top: 100%;
    left: 0;

    // Make the pseudo element valid.
    content: '';

    // Set the size of the pseudo element.
    display: block; // Default is inline.
    width: 100%;
    height: 2px;

    // Make it a parallelogram.
    transform: skewX(-45deg);

    // Color of the parallelogram
    background-color: #c475f5;
  }
}
