.links-list__link {
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  font-family: Arial, sans-serif;
  color: #f2f0f5;
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
  text-transform: capitalize;
}
