@use '../../-/position';

.body__main {
  // Make the content readable. Eg: No lines of text spread across a large distance.
  max-width: 768px;

  // Center it. Using dual auto margin technique.
  @include position.horizontally-centered-with-margin--auto();

  // Give it a horizontal padding so it always has minimum "padding" to both sides of it when viewport is narrow.
  @include position.horizontally-minimum-padded-with-padding(32px);

  // Space between body__main and header
  padding-top: 80px;
}
