@use '__links-list__link';

.header {
  box-sizing: content-box;
  max-width: 768px;
  $auto: auto;
  margin: {
    left: $auto;
    right: $auto;
  }
  $minimum-horizontal-padding: 16px;
  padding: {
    left: $minimum-horizontal-padding;
    right: $minimum-horizontal-padding;
    top: 16px;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  row-gap: 1rem;
}
