@use '__brand';
@use '__links-list';
@use '__links-list__item';
@use '__links-list__link';

@use '../-/position';

.header {
  // limit max-width to make content readable
  max-width: 768px;
  // -
  @include position.horizontally-centered-with-margin--auto();

  // One-handed design. Controls should be further down from the top when device width is narrow. Actually, this is poorly optimized and needs lots of tweaking.
  //  TODO: optimize one-handed design
  //  TODO: remove magic number 704px
  @media (max-width: 704px) {
    @include position.horizontally-minimum-padded-with-padding(32px);
    padding-top: 64px; // TODO: Replace this with a continuous calc()
  }
  @media (min-width: 704.01px) and (max-width: 1023.99px) {
    @include position.horizontally-minimum-padded-with-padding(48px);
    padding-top: 48px;
  }
  @media (min-width: 1024px) {
    padding-top: 32px;
  }

  // Flexbox spacing and alignment
  display: flex;
  justify-content: space-between;
  align-items: center;
  // Auto wraps when gap is not enough.
  flex-wrap: wrap;
  column-gap: 8rem;
  row-gap: 2.5rem;

  // TODO: Just realized Safari does not support column-gap and row-gap.
  //  Have to write some not-so-good workarounds for Safari and Safari only.
}
