@use '__links-list__item';
@use '__links-list__link';

.header {
  box-sizing: content-box;
  max-width: 768px;
  $auto: auto;
  margin: {
    left: $auto;
    right: $auto;
  }

  @media (max-width: 704px) {
    $minimum-horizontal-padding: 32px;
    padding: {
      left: $minimum-horizontal-padding;
      right: $minimum-horizontal-padding;
      top: 64px;
    }
  }

  @media (min-width: 704px) and (max-width: 1024px) {
    $minimum-horizontal-padding: 48px;
    padding: {
      left: $minimum-horizontal-padding;
      right: $minimum-horizontal-padding;
      top: 48px;
    }
  }

  @media (min-width: 1024px) {
    padding-top: 32px;
  }


  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 8rem;
  row-gap: 2rem;
  // TODO: Just realized Safari does not support column-gap and row-gap.
  //  Have to write some not-so-good workarounds for Safari and Safari only.
}
