.card__text-content {
  float: left;

  margin-left: 16px;

  height: 100%;
  // TODO: Migrate back to flexbox to counter the design's wrapping problem when screen width is small.
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
