@use '_length';
@use '_text-transform-excluded';

@use '../../-/font';

.card__action-text {
  // Color
  color: #4d4d4d;

  // Primary 16px text
  @include font.primary-text(16px);

  white-space: nowrap;
}
