.brand__logo {
  // Fine-tuning position. Otherwise the logo would appear higher than the logo-text.
  //  .brand__ means .brand__logo and .brand__logo-text would always be used together.
  transform: translateY(-2px);
}
