@use '__item';
@use '__link';

.links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  list-style-type: none;

  // Override ul default settings.
  padding-inline-start: 0;
  margin-block: {
    start: 0;
    end: 0;
  }
}
