@use '__sub-title';

@use '../-/font';

.h1 {
  color: #7f4ce5;
  @include font.primary-text(24px);

  // override(h1): margin-block
  margin-block: {
    start: unset;
    end: unset;
  }

  + .h1__sub-title {
    margin-block-start: 1rem;
  }

  display: inline-block;
  align-self: flex-start;

  line-height: 1.5em;
  padding-inline-end: 4px;

  background: #fff;
  opacity: 0.8;
  backdrop-filter: blur(4px);
}
