.header__links-list__item {
  // light-text-with-underline -on-non-dark-background
  @media (min-width: 1024px) {
    // background-ellipse-for- light-text-with-underline -on-non-dark-background
    background: {
      // ellipse
      image: radial-gradient(closest-side, transparentize(#7f4ce5, 0.6), transparentize(#7f4ce5, 1));
      // underline should also have a good contrast. Moving it down a little bit solves this.
      position-y: 4px;
      // prevent background repeating to make the top look weird
      repeat: no-repeat;
    }
  }
}
