.header__links-list__link {
  // Color animation on hover
  transition: color 0.2s;

  // When dark background is not below it
  @media (width < 1024px) {
    color: #665c70;

    &:hover {
      color: #7f4cb2;
    }
  }
  // When dark background is below it
  @media (width >= 1024px) {
    color: #fdfaff;

    &:hover {
      color: #fff;
    }
  }

  text-decoration-line: underline;
}
