.header__links-list__link {
  // Colors
  // When dark background is not below it
  @media (max-width: 1023.99px) {
    color: #665c70;

    &:hover {
      color: #7f4cb2;
    }
  }
  // When dark background is below it
  @media (min-width: 1024px) {
    color: #fdfaff;

    &:hover {
      color: #fff;
    }
  }
}
