@use '../../-/size';

.body__background {
  // Make the background expand to full width and full height in every direction,
  //  Thus preserving all its content.
  @include size.fill-parent();

  // Do not show any background item parts positioned offscreen.
  overflow: hidden;
}
