//.card__description {
//  // Override default p
//  margin-block-start: 0;
//  margin-block-end: 0;
//
//  color: #52527a;
//  letter-spacing: 0.02em;
//
//  @media (width < 784px) {
//    //font-size: 0.875rem;
//    letter-spacing: unset;
//  }
//}
