.card__title {
  color: #6435cb;
  font: {
    family: Arial, sans-serif;
    size: 20px;
    weight: normal;
  }
  letter-spacing: 0.05em;

  // Override default h3
  margin-block-start: 0;
  margin-block-end: 0;
}
