@use '__background';
@use '__background-for-empty-space-on-the-left';
@use '__background-for-header';
@use '__background-item';
@use '__content';
@use '__main';

.body {
  margin: 0;
  overflow: hidden;
}
